<% @secrets.each do |secret| %>
<%= secret.content %>


<form action="/secrets" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete" />
    <input type="hidden" name="user_id" value="<%= secret.user %>">
    <input type="submit" value="Delete Secret">
</form>

<% if current_user == secret.user %>


<% end %>
<%end%>